<a href="https://colab.research.google.com/github/valentinafrancoia/br-python-condensed/blob/main/Aula_2_Fazendo_uma_pesquisa_na_academia_(Intensivo_Python_Awari).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aula 2** - Fazendo uma pesquisa na academia

- **exercício 1**: crie uma função que retorne uma mensagem que informa se os dois argumentos são iguais ou diferentes 
(noções de bool)

In [ ]:
def verdade_mentira():
  num_1 = float(input("Insira qualquer número: "))
  num_2 = int(input("Insira um número inteiro "))
  
  if num_1 == num_2:
    print("Números iguais")
  else:
    print("Números diferentes")

verdade_mentira()

In [8]:
# outra resolução 

def igual_dif(a,b):
  if a == b:
    return ("Os argumentos são iguais")
  else:
    return("Os argumentos são diferentes")

In [12]:
igual_dif(10,"10")

'Os argumentos são diferentes'

In [13]:
# as duas condições devem ser verdade (and)

if (10 > 20) and (type(10) == int):
  print ("certo")
else:
  print("errado")

errado

In [14]:
# apenas uma das condições deve ser verdadeira (or)

if (10 > 20) or (type(10) == int):
  print ("certo")
else:
  print("errado")

certo

**Exercício 2 -** Adicione um input que peça o nome do usuário e um código que retornará uma mensagem de aviso caso a pessoa esteja com o IMC acima de 25. Retorne isso no format da função

In [ ]:
def calcula_imc():
  nome = input ("Qual seu nome? ")
  altura = input ("Qual sua altura em metros? (Informe com ponto. Ex.: 1.76) ")
  peso = input("Qual seu peso em quilos? (Informe com ponto. Ex.: 77.5) ")
  imc = round(float(peso)/float(altura)**2,3)
  
  if imc > 25:
    print(f"Olá {nome}, seu IMC é {imc} e está alto. Faça mais exercícios regulares. Daqui a pouco você entre no ritmo")
  else: 
    print(f"Olá {nome}, seu IMC é {imc}. Seu imc está bom, de toda forma, mantenha o ritmo dos exercícios.")


calcula_imc()

**Exercício 3 -** Da lista dada:
- substitua o segundo item por casa;
- adicione o item 45.9 ao final da lista

In [24]:
lista = [12, 45.6, "Elevador", 8857.5, 1, 34, ["olá", 10]]

In [26]:
lista[1] = "Casa"
lista.append(45.9)

In [27]:
lista

[12, 'Casa', 'Elevador', 8857.5, 1, 34, ['olá', 10], 45.9]

In [29]:
# caso queira, é possível adicionar a alterar itens das outras listas dentro de listas

lista[-2].append(99)

In [31]:
lista[-2][0] = "Olá novamente"

In [32]:
lista

[12, 'Casa', 'Elevador', 8857.5, 1, 34, ['Olá novamente', 10, 99], 45.9]

**ITERANDO**
***loop for***

In [34]:
for i in lista:
  print(i, i)

12 12
Casa Casa
Elevador Elevador
8857.5 8857.5
1 1
34 34
['Olá novamente', 10, 99] ['Olá novamente', 10, 99]
45.9 45.9

**Exercício 3** *Loop com format*
Faça um loop na lista que você criou utilizando a função format para dizer que cada um dos itens está na lista:
Ex.: 4 está na lista

In [37]:
for i in lista:
  print(f"{i} está na lista ")

12 está na lista
Casa está na lista
Elevador está na lista
8857.5 está na lista
1 está na lista
34 está na lista
['Olá novamente', 10, 99] está na lista
45.9 está na lista

Supondo que você é o dono de uma academia de ginástica e queira azer uma pesquisa com seus alunos para poder indicar treinamentos mais adequados. Você precisaria coletar informações, organizá-las e criar uma saída que envie mensagens ou e-mails para os alunos com a informação já processada.

*Exemplo prático*:
Coletando os dados da academia

In [41]:
lista_academia = [["Ulrich", "M", 80, 1.92], ["Claudia", "F", 62, 1.56],
               ["Mikkel", "M", 67, 1.56], ["Jonas", "M", 52, 1.52],
               ["Charlotte", "F", 52, 1.56], ["Martha", "F", 76, 1.98]]

**iterando sobre nossa lista**

In [47]:
for i in lista_academia:
  print(i[0],", peso e altura: ", i[-2], ",", i[-1],)
  print("="*80)

Ulrich , peso e altura:  80 , 1.92
================================================================================
Claudia , peso e altura:  62 , 1.56
================================================================================
Mikkel , peso e altura:  67 , 1.56
================================================================================
Jonas , peso e altura:  52 , 1.52
================================================================================
Charlotte , peso e altura:  52 , 1.56
================================================================================
Martha , peso e altura:  76 , 1.98
================================================================================

**Operações dentro das listas**

In [51]:
for i in lista_academia:
  imc = i[2]/i[3]**2
  imc_arredondado = round(imc, 2)
  i.append(imc_arredondado)

In [52]:
lista_academia

[['Ulrich', 'M', 80, 1.92, 21.7],
 ['Claudia', 'F', 62, 1.56, 25.48],
 ['Mikkel', 'M', 67, 1.56, 27.53],
 ['Jonas', 'M', 52, 1.52, 22.51],
 ['Charlotte', 'F', 52, 1.56, 21.37],
 ['Martha', 'F', 76, 1.98, 19.39]]

**E se eu quiser saber a altura da Charlotte ??**

**Dicionários**

In [56]:
meu_dicionario = {"peso" : 88, "altura" : 1.88}
meu_dicionario["altura"]

1.88

**Dicionários dentro de dicionários**

In [58]:
dicionario = {"Valentina":{"peso" : 49, "altura" : 1.69}, "Ulrich":{"peso" : 80, "altura" : 1.92}}

In [60]:
dicionario["Ulrich"]["altura"]

1.92

**Adicionando itens a um dicionário**

In [61]:
dicionario["Valentina"]["e-mail"] = "valentina@valentina.com.br"
dicionario

{'Ulrich': {'altura': 1.92, 'peso': 80},
 'Valentina': {'altura': 1.69,
  'e-mail': 'valentina@valentina.com.br',
  'peso': 49}}

**Exercício 4 -** Adicione mais um membro ao dicionário com peso e altura e atualize o dicionário com a altura da Martha

In [63]:
dicionario["Martha"] = {"peso" : 76, "altura" : 1.98}

In [64]:
dicionario

{'Martha': {'altura': 1.98, 'peso': 76},
 'Ulrich': {'altura': 1.92, 'peso': 80},
 'Valentina': {'altura': 1.69,
  'e-mail': 'valentina@valentina.com.br',
  'peso': 49}}

**O Grande Loop**
Da lista ao dicionário

In [65]:
lista_academia

[['Ulrich', 'M', 80, 1.92, 21.7],
 ['Claudia', 'F', 62, 1.56, 25.48],
 ['Mikkel', 'M', 67, 1.56, 27.53],
 ['Jonas', 'M', 52, 1.52, 22.51],
 ['Charlotte', 'F', 52, 1.56, 21.37],
 ['Martha', 'F', 76, 1.98, 19.39]]

In [68]:
academia_dict = {}
for i in lista_academia:
  academia_dict[i[0]] = {}
  academia_dict[i[0]]["sexo"] = i[1]
  academia_dict[i[0]]["peso"] = i[2]
  academia_dict[i[0]]["altura"] = i[3]
  academia_dict[i[0]]["imc"] = i[4] 

academia_dict

{'Charlotte': {'altura': 1.56, 'imc': 21.37, 'peso': 52, 'sexo': 'F'},
 'Claudia': {'altura': 1.56, 'imc': 25.48, 'peso': 62, 'sexo': 'F'},
 'Jonas': {'altura': 1.52, 'imc': 22.51, 'peso': 52, 'sexo': 'M'},
 'Martha': {'altura': 1.98, 'imc': 19.39, 'peso': 76, 'sexo': 'F'},
 'Mikkel': {'altura': 1.56, 'imc': 27.53, 'peso': 67, 'sexo': 'M'},
 'Ulrich': {'altura': 1.92, 'imc': 21.7, 'peso': 80, 'sexo': 'M'}}

In [69]:
# E finalmente a altura da Charlotte

academia_dict["Charlotte"]["altura"]

1.56

**As chaves dos dicionários**

In [70]:
for i in academia_dict.keys():
  print(i)

Ulrich
Claudia
Mikkel
Jonas
Charlotte
Martha

**Criando mensagens padrões**

In [71]:
for i in academia_dict:
  print(f"{i}, seu imc é {academia_dict[i]['imc']}. Prepare-se para novos treinos!")

Ulrich, seu imc é 21.7. Prepare-se para novos treinos!
Claudia, seu imc é 25.48. Prepare-se para novos treinos!
Mikkel, seu imc é 27.53. Prepare-se para novos treinos!
Jonas, seu imc é 22.51. Prepare-se para novos treinos!
Charlotte, seu imc é 21.37. Prepare-se para novos treinos!
Martha, seu imc é 19.39. Prepare-se para novos treinos!

**Exercício 5** Crie uma mensagem padrão que varie de acordo com os pronomes (feminino, masculino) e sobre o IMC (abaixo ou acima de 25) 



Ex: 

Olá Claudia, gostaríamos de informar que seu IMC é 25.4! Esteja preparada para novos treinos

Olá Jonas, gostaríamos de informar que seu IMC é 19.3! Seus treinos continuarão os mesmos!

In [73]:
for i in academia_dict.keys():
  if academia_dict[i]["sexo"] == "F" and academia_dict[i]["imc"] >= 25:
    print(f"Olá {i}, gostaríamos de informar que seu IMC é {academia_dict[i]['imc']}! Esteja preparada para novos treinos.")
  elif academia_dict[i]["sexo"] == "M" and academia_dict[i]["imc"] >= 25:
    print(f"Olá {i}, gostaríamos de informar que seu IMC é {academia_dict[i]['imc']}! Esteja preparado para novos treinos.")
  else:
    print(f"Olá {i}, gostaríamos de informar que seu IMC é {academia_dict[i]['imc']}! Seus treinos continuarão os mesmos.")

Olá Ulrich, gostaríamos de informar que seu IMC é 21.7! Seus treinos continuarão os mesmos.
Olá Claudia, gostaríamos de informar que seu IMC é 25.48! Esteja preparada para novos treinos.
Olá Mikkel, gostaríamos de informar que seu IMC é 27.53! Esteja preparado para novos treinos.
Olá Jonas, gostaríamos de informar que seu IMC é 22.51! Seus treinos continuarão os mesmos.
Olá Charlotte, gostaríamos de informar que seu IMC é 21.37! Seus treinos continuarão os mesmos.
Olá Martha, gostaríamos de informar que seu IMC é 19.39! Seus treinos continuarão os mesmos.